<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div class="cadastrar" id="cadastrar-calopisita">
        <p>Ola, digite o nome, sexo, idade, e mutação da sua calopisita</p>
        <form action="{{ url_for('CadastrarCalopisita') }}" method="post">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required><br><br>

            <label for="sexo">Sexo:</label><br>
            <select name="sexo" id="sexo" required>
                <option value="macho">Macho</option>
                <option value="femea">Femea</option>
            </select><br><br>

            <label for="idade">Idade</label><br>
            <input type="number" name="idade" id="idade" required><br><br>

            <label for="mutacao">Mutação</label>
            <input type="text" name="mutacao" id="mutacao" required><br><br>

            <input type="submit" value="Cadastrar calopisita">
        </form>
    </div>
</body>
</html>