<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('HomePage') }}">Home</a>
            <a href="{{ url_for('index') }}">Cadastrar Calopsita</a>
            <a href="{{ url_for('CadastrarUsuarios') }}">Cadastrar Usuários</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </nav>
    </header>
    <main>
        <h1>Dashboard</h1>
        <p>Bem-vindo ao seu dashboard!</p>
        <!-- Aqui você pode adicionar mais informações do seu projeto -->
    </main>
    <div class="conteiner">
        <div class="arvore">
            <p>Venha ver a arvore genealogica de seu pantel</p>
            <img src="" alt="">
        </div>
    </div>
    
    <footer><p>&copy; 2024 - Calopsitas Project</p></footer>
</body>
</html>
