{% extends "base.html" %}

{% block title %}Cadastrar Calopsita{% endblock %}

{% block content %}
    <h1>Cadastrar Calopsita</h1>
    <form method="POST" action="{{ url_for('CadastrarCalopisita') }}">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="sexo">Sexo:</label>
        <select id="sexo" name="sexo">
            <option value="Macho">Macho</option>
            <option value="Fêmea">Fêmea</option>
        </select>
        
        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade" required>
        
        <label for="mutacao">Mutação:</label>
        <input type="text" id="mutacao" name="mutacao" required>
        
        <button type="submit">Cadastrar</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
